//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: rgb(65, 106, 107) ;
$secondary-color:#272727;
$third-color:rgb(124,6,6);
$text-color:#eee;

//*Font 

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//* Path Variables

$main-bgImg-path: '../../assets/img/Ankedi1.webp';
