@import "../../pages/scss/reset";
@import "../../pages/scss/variables";
@import "../../pages/scss/mixins";

//*****************************************************
//*   HOME PAGE
//*****************************************************

.home-bgImg-container{
    @include bgImg(100vh, $main-bgImg-path);
 }
 
 .home{
    
     // border: 2px solid red;
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     
 
     &__name{
         font-size: 5rem;
         padding-bottom: 1rem;
         margin-bottom: 1rem;
         border-bottom: 2px solid $third-color;
         & span{
             color: rgb(124, 6, 6);
             font-weight: 700;
         }
         
     }
     
 }